apiVersion: batch/v1
kind: Job
metadata:
  name: sql-script-job
  namespace: applicationnamespace
  labels:
    app: database-scripts
spec:
  template:
    spec:
      containers:
        - name: sql-script-container
          image: mcr.microsoft.com/mssql-tools
          command: ["/bin/bash", "-c"]
          args: ["sqlcmd -S $SA_HOST -U $SA_USER -P $SA_PASSWORD -d $DB_NAME -i databaseservice/dbcheck2.sql"]
          env:
            - name: DB_NAME
              value: "EmployeeDb"
            - name: SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mssql-secret
                  key: SA_PASSWORD
            - name: SA_HOST
              valueFrom:
                configMapKeyRef:
                  name: appsettings
                  key: host
            - name: SA_USER
              valueFrom:
                configMapKeyRef:
                  name: appsettings
                  key: username
            - name: SA_PORT
              valueFrom:
                configMapKeyRef:
                  name: appsettings
                  key: port
          volumeMounts:
            - name: script-volume
              mountPath: /scripts
      restartPolicy: Never
      volumes:
        - name: script-volume
          configMap:
            name: script-configmap
            items:
              - key: script.sql
                path: script.sql
  backoffLimit: 4
