apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mssql
  namespace: applicationnamespace
spec:
  serviceName: "mssql"
  replicas: 1
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: mssql
  template:
    metadata:
      labels:
        app: mssql
    spec:
      securityContext:
        fsGroup: 10001
      volumes:
        - name: sqldb-volume
          persistentVolumeClaim:
            claimName: mssql-db-pvc
        - name: mysql-initdb
          configMap:
              name: mysql-initdb-config
      containers:
        - name: mssql
          image: mcr.microsoft.com/mssql/server:2019-latest
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 0
          ports:
            - containerPort: 1433
              name: tcpsql
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_ENABLE_HADR
              value: "1"
            - name: MSSQL_AGENT_ENABLED
              value: "1"
            - name: DB_NAME
              value: "EmployeeDb"
            - name: MSSQL_SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mssql-secret
                  key: SA_PASSWORD
            - name: SA_PORT
              valueFrom:
                configMapKeyRef:
                  name: appsettings
                  key: port
            - name: SA_USER
              valueFrom:
                configMapKeyRef:
                  name: appsettings
                  key: username
            - name: SA_HOST
              valueFrom:
                configMapKeyRef:
                  name: appsettings
                  key: host
          volumeMounts:
            - name: sqldb-volume
              mountPath: /var/opt/mssql
            - name: mysql-initdb
              mountPath: /docker-entrypoint-initdb.d
---
apiVersion: v1
kind: Service
metadata:
  name: mssql-db
  namespace: applicationnamespace
spec:
  type: LoadBalancer
  selector:
    statefulset.kubernetes.io/pod-name: mssql-0
  ports:
    - protocol: TCP
      port: 1433
      targetPort: 1433
      name: tcpsql
          