apiVersion: v1
kind: Pod
metadata:
  name: sql-server-pod
  namespace: applicationnamespace
spec:
  containers:
    - name: sql-server
      image: mcr.microsoft.com/mssql/server:2019-latest
      command: ["/bin/bash", "-c"]
      args:
        - apt-get update && apt-get install -y mssql-tools
      env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: SA_PASSWORD 
        - name: SA_PORT
          valueFrom:
            configMapKeyRef:
              name: appsettings
              key: port
        - name: SA_USER
          valueFrom:
            configMapKeyRef:
              name: appsettings
              key: username
        - name: SA_HOST
          valueFrom:
            configMapKeyRef:
              name: appsettings
              key: host
      ports:
        - containerPort: 1433
