apiVersion: v1
kind: Pod
metadata:
  name: sql-server-pod
spec:
  volumes:
    - name: mssqldb
      persistentVolumeClaim:
        claimName: mssql-data
  containers:
    - name: sql-server
      image: mcr.microsoft.com/mssql/server:2019-latest
      env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: SA_PASSWORD
      ports:
        - containerPort: 1433
      volumeMounts:
        - name: mssqldb
          mountPath: /var/opt/mssql
