apiVersion: apps/v1
kind: Deployment
metadata:
  name: employeeapp-deployment
  namespace: applicationnamespace
  labels:
    app: EmployeeApp
spec:
  replicas: 2
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
  selector:
    matchLabels:
      app: EmployeeApp
  template:
    metadata:
      labels:
        app: EmployeeApp
    spec:
      type: ExternalName
      externalName: employeeservice.com
      containers:
      - name: employeeapp
        image: docker.io/bhavnabatra1990/employee:1
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 250Mi
          requests:
            cpu: 250m
            memory: 125Mi