apiVersion: v1
kind: PersistentVolume
metadata:
  name: sqldb-pv
  namespace: applicationnamespace
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: azure-disk